*{
  padding: 0;
  margin: 0;
  font-weight: 300 !important;
  text-transform: capitalize;
  color: white;
  box-sizing: border-box;
}
body{
  background-image: linear-gradient(to right top, #37052a, #4d2859, #554d8c, #4b75be, #12a0eb);
  height: 100vh;
}
h3{
  font-size: 1.75rem;
  font-weight: 500 !important;
}
.App{
  background-color: #86A8E7;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: fit-content ;
  max-width: 60vw;
  height: fit-content;
  min-height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  border-radius: 25px;
}
.container{
  width: 80%;
height: 20vh;
min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 20px 0;
}
.label{
  font-size: 1.25rem !important;
  
}
.date{
  width: 100% !important;
}
.submit{
  background-color: #4d2859 !important;
  color: white;
  width: 100%;
  margin-top: 10px;
}
.result{
  margin-top: 5px;
  font-size: 1.25rem;
}
#age{
  font-weight: 600 !important ;
}